
.navbar{
    overflow: hidden;
    background-color: #ffffff; 
    border-bottom: 3px solid #cccccc;
    font-family: 'Poiret One', cursive; 
    font-size: 25px;
    font-weight: bold;
    color: rgb(201, 161, 201);
    margin: 0 auto;  
    right:0;
    left:0;
    top:0;
    padding:0;
    height:auto;
    margin-bottom: 50px;
    width:100%;
}

body{
    background-image: url(../images/background.png);
    min-height: 100%;
}

.navbar-brand{
    font-size:40px !important;
    font-weight: bold;
}

.links{
    float: right;
    padding: 15px;
    margin-right: 50px;
    text-align: center;
    color:#777777;
    font-family: 'Poiret One', cursive; 
}

#fronttext{
    margin:0 auto;
    text-align: center;
}

img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 300px;
    padding:20px;
}

.fa-linkedin{
    font-size: 48px; 
    color:rgb(180, 124, 180);
    padding:8px;
}

.fa-git-square{
    font-size: 48px; 
    color:rgb(180, 124, 180);
    padding:8px;
}

.fa-angellist{
    font-size: 48px; 
    color:rgb(180, 124, 180);
    padding:8px;
}

#contact{
    margin:0 auto;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    background-color: #ffffff;
    text-align:left;
    border:1px solid #dddddd;
    padding:5px;
    margin-bottom: 100px;
}

#contactheader{
    font-family: 'Poiret One', cursive;
    font-size:50px; 
    margin-bottom:0;
    border-bottom: 2px solid lightgrey !important;
    padding: 15px;
 }

#submitButton{
    border-radius: 50px;
    background-color:rgb(180, 124, 180);
    border: 2px solid darkgray;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.portfolioeverything{
    margin:0 auto;
    font-size: 15px;
    margin-top: 0;
    margin-bottom:150px;
    background-color: #ffffff;
    text-align:left;
    border:1px solid #dddddd;
}

.portfolio{
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    background-color: white;
    text-align:left;
}

#portfoliotitle{
   font-family: 'Poiret One', cursive;
   font-size:50px; 
   margin-bottom:0;
   border-bottom: 2px solid lightgrey;
   padding: 15px;
}

.images{
    padding: 15px;
}

#image1{
    position:relative; 
}

#image1text{
    position: absolute;
    bottom: 50px;
    width:100%;
    background-color:rgb(212, 162, 212);
    color: white;
    text-align: center;
    font-size: 20px; 
    padding-top: 12px;
    padding-bottom:12px;
    font-family: 'Raleway', sans-serif;
}

#image2{
    position:relative; 
}

#image2text{
    position: absolute;
    bottom: 50px;
    width:100%;
    background-color:rgb(212, 162, 212);
    color: white;
    text-align: center;
    font-size: 20px; 
    padding-top: 12px;
    padding-bottom:12px;
    font-family: 'Raleway', sans-serif;
}

#image3{
    position:relative; 
}

#image3text{
    position: absolute;
    bottom: 50px;
    width:100%;
    background-color:rgb(212, 162, 212);
    color: white;
    text-align: center;
    font-size: 20px; 
    padding-top: 12px;
    padding-bottom:12px;
    font-family: 'Raleway', sans-serif;
}

#image4{ 
    position:relative; 
}

#image4text{ 
    position: absolute;
    bottom: 50px;
    width:100%;
    background-color:rgb(212, 162, 212);
    color: white;
    text-align: center;
    font-size: 20px; 
    padding-top: 12px;
    padding-bottom:12px;
    font-family: 'Raleway', sans-serif;
}

.portfolioimg{
    width: fit-content;
}

footer{
    background-color:darkgray;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: black;
    height: auto;
    position:fixed;
    bottom: 0;
    width: 100%;
    border-top: 8px solid rgb(201, 161, 201);
    text-align: center;
    margin: 0;
    right: 0;
    left:0;
}