
.navbar{
    overflow: hidden;
    background-color: #ffffff; 
    border-bottom: 3px solid #cccccc;
    font-family: 'Poiret One', cursive; 
    font-size: 25px;
    font-weight: bold;
    color: rgb(201, 161, 201);
    margin: 0 auto;  
    right:0;
    left:0;
    top:0;
    padding:0;
    height:auto;
    margin-bottom: 50px;
    width:100%;
}

body{
    background-image: url(../images/background.png);
    min-height: 100%;
}

.navbar-brand{
    font-size:40px !important;
    font-weight: bold;
}

.links{
    float: right;
    padding: 15px;
    margin-right: 50px;
    text-align: center;
    color:#777777;
    font-family: 'Poiret One', cursive; 
}

#fronttext{
    margin:0 auto;
    text-align: center;
}

img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 300px;
    padding:20px;
}

.fa-linkedin{
    font-size: 48px; 
    color:rgb(180, 124, 180);
    padding:8px;
}

.fa-git-square{
    font-size: 48px; 
    color:rgb(180, 124, 180);
    padding:8px;
}

.fa-angellist{
    font-size: 48px; 
    color:rgb(180, 124, 180);
    padding:8px;
}

footer{
    background-color:darkgray;
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    color: black;
    height: auto;
    position:fixed;
    bottom: 0;
    width: 100%;
    border-top: 8px solid rgb(201, 161, 201);
    text-align: center;
    margin: 0;
    right: 0;
    left:0;
}