.body{
   
}


header{
    overflow: hidden;
    background-color:#c0e7e586;
    border-bottom: 3px solid #cccccc;

}

h1{
    background-color: #4aaaa5;
    color: white;
    float: left;
}

p{
    float: right;
    padding: 20px;
    margin-right: 50px;
}

.footer{

}

.content{

}

.contact1{

}

#body{
    background-image:url(../images/background.png);    
   
}

#aboutme{

}

#frontpageimage{

}

#indextext{

}

#contact2{

}

#closearchie{

}

#archietext{

}

#icecream{

}

#creamtext{

}

#dogonly{

}

#dogtext{

}

#google{ 

}

#googletext{ 

}

#run{ 

}